body{
    background-color: aqua;
}
*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;
    background-color: aqua;
}

div{
    width: 500px;
    border: 5px rgb(36, 33, 33);
    padding: 100px;
    margin:auto;
}

.grid-container{
   margin:auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 50px;
   max-width: 1000px;
   width: 100%;
}